<ion-header>
  <ion-toolbar>
    <ion-title>
      Información Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/mypic.svg" alt="my_photo" />
    <ion-card-header>
      <ion-card-title>Mi nombre es Oscar Mateo Peñaherrera Saltos</ion-card-title>
      <ion-card-subtitle>Hola dejame contarte un poco sobre mi.</ion-card-subtitle>
      <ion-card-subtitle>Nací en Quito el 25 de Octubre de 1997.</ion-card-subtitle>
      <ion-card-subtitle>Me considero como una persona muy proactiva y de gusto por superar nuevas barreras; Me encanta
        la lectura y la investigación.</ion-card-subtitle>
      <ion-card-subtitle>Desde pequeño tuve una gran pasión por el uso de computadores y de la tecnología.
      </ion-card-subtitle>
      <ion-card-subtitle>Aunque no tuve la posibilidad de formarme en un colegio técnico, en la universidad pude lograr
        mi sueño de convertirme en Analista de Sistemas Informáticos.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Links de interes</ion-label>
    </ion-list-header>
    <ion-item href="https://github.com/the97prime">
      <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
      <ion-label>Repositorios de Github</ion-label>
    </ion-item>
    <ion-item href="https://www.facebook.com/the97prime">
      <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
      <ion-label>Página de Facebook</ion-label>
    </ion-item>
    <ion-item href="https://www.linkedin.com/in/oscar-mateo-6322b8176/">
      <ion-icon slot="start" color="medium" name="logo-linkedin"></ion-icon>
      <ion-label>Linked-In</ion-label>
    </ion-item>
  </ion-list>
</ion-content>